.job-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 475px;
    margin: 0 auto;
    text-align: left;
}

.job-card p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.job-card:hover {
    transform: translateY(-5px);
}

.job-card h3 {
    color: #007bff;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.job-card p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.job-card p strong {
    font-weight: bold;
}

.job-card .apply-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    text-align: center;
}

.job-card .apply-btn:hover {
    background: #0056b3;
}

.jobcard-btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.jobcard-btn-field a {
    padding: 13px 35px;
    background-color: #0055cc;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.jobcard-btn-field a:hover {
    background-color: #0056b3;
    transform: scale(1.02);
    color: white;
}

.add-job-info {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .job-card {
        padding: 15px;
        height: auto;
    }

    .jobcard-btn-field a {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 468px) {
    .job-card {
        padding: 15px;
        width: 300px;
        height: auto;
    }

    .jobcard-btn-field {
        flex-direction: column;
        align-items: center;
    }

    .jobcard-btn-field a {
        font-size: 16px;
        width: 100%;
        padding: 12px;
    }
}

.job-card .apply-btn, 
.job-card form .apply-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.job-card .apply-btn:hover, 
.job-card form .apply-btn:hover {
    background: #0056b3;
}
